<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#DB0000"/>
  <link 
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap" 
  rel="stylesheet">
  <link rel="manifest" href="images/heros/app.webmanifest" />
  <link rel="apple-touch-icon" href="../public/images/heros/icons/icon-192x192.png" />
  <title>Restoran Service</title> 
 
</head>
<body>
  <a href="#maincontent" class="skip-link">Skip ke konten utama</a>

    <!-- Mobile -->
    <div class="menu-mobile">
      <div class="icon_menu">
        <button href="#" id="menu" class="navigation-menu">☰</button>
      </div>
      <div class="logo-mobile">RESTAURANT SERVICE</div>
      <div class="logo-mobile">&nbsp;</div>
    </div>

    <nav id="drawer" class="nav-mobile">
      <ul class="nav_list-mobile">
        <li class="nav_items-mobile"><a href="/">Home</a></li>
        <li class="nav_items-mobile"><a href="#/favorite">Favorite</a></li>
        <li class="nav_items-mobile">
          <a href="https://www.instagram.com/hklhns/"
            >About Us</a
          >
        </li>
      </ul>
    </nav>

    <!-- Dekstop -->
    <nav id="drawer"class="nav">
      <a class="logo" href="">RESTAURANT SERVICE</a>
      <ul class="nav_list">
        <li class="nav_items"><a href="/">Home</a></li>
        <li class="nav_items"><a href="#/favorite">Favorite</a></li>
        <li class="nav_items">
          <a
            target="_blank"
            href="https://www.instagram.com/hklhns/"
            >About Us</a
          >
        </li>
      </ul>
    </nav>

  <main id="maincontent" class="maincontent">
    <div class="hero">
      <div class="heroInner">
        <h2 class="heroTitle">Find your Best Restaurant</h1>
        <p class="heroTagline">Rasakan pengalaman makan makanan dari seluruh dunia</p>
      </div>
    </div>
    <main id="content">
      <section class="content">
        <div class="resto">
          <h1 class="label">Explore Restaurant</h1>
          <div class="list" id="exp-resto"></div>
        </div>
      </section>
    </main>
  </main>

  <footer>
    <div class="container">
      <center> <small>Copyright &copy; 2023 --duxx - Restaurant Service.</small></center>
    </div>
  </footer>
</body>
</html>
